body {
    padding: 0;
    background-color: #DEDEDE;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}


/* Góra strony logo/godziny otwarcia/social */

.top-nav {
    font-family: 'Lato', sans-serif;
    background-color: #DEDEDE;
    color: #333;
    line-height: 30px;
    border-bottom: 5px solid #930006;
}


/* kolor ikonek */

.top-nav i {
    color: ;
}


/*Top left Menu*/

.top {
    display: flex;
    justify-content: space-between;
}

.top img {
    margin-top: 8px;
}
.top #logo {
    margin-top: 15px;
    margin-left: 5px;
   font-family: 'Fredericka the Great', cursive;
    color: #dd545a;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 70px;}

.top ul>li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

.top-nav p {
    font-weight: 700;
    font-size: 15px;
}


/*Nagivation*/

#main-nav {
    background-color: #f8f8f8;
    padding: 15px 0;
}

#main-nav .logo-menu {
    display: none;
}


/*Affix*/

#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #fff;
    z-index: 10;
    -moz-box-shadow: 0 1px 2px #ebebeb;
    -webkit-box-shadow: 0 1px 2px #ebebeb;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
    transition: all 0.3s;
}

.navbar {
    margin: 0;
}

#main-nav .navbar-header a {
    color: #fff;
}


/*Toggle Menu*/

#main-nav .navbar-toggle {
    background-color: #dd545a;
}

#main-nav .navbar-toggle span {
    background-color: #fff;
}


/*Main Menu*/

#main-nav .navbar-left {
    margin-top: 10px;
}

#main-nav .navbar-left li>a {
    font-family: 'Bangers', cursive;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

#main-nav .navbar-left li>a:focus {
    color: #dd545a;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
    color: #dd545a;
    background: none;
}


/* Slider */

.carousel-control span {
    position: absolute;
    top: 45%;
    left: 20px;
    font-size: 40px;
}

.carousel-control.right span {
    right: 20px;
}


/* Sekcja 2 kolorowa */

.services-style-one {
    position: relative;
}

.services-style-one .outer-box {
    position: relative;
    background: #ebebeb;
}

.services-style-one .services-column {
    position: relative;
    float: left;
    width: 50%;
    background: #251C1F;
    text-align: center;
}

.services-style-one .services-column .content-outer {
    position: relative;
    padding: 20px 50px 10px 30px;
    align-items: center;
}

.services-style-one .services-column h2>span {
    color: #f8f8f8;
    border-bottom: 5px solid #930006;
    padding-bottom: 5px;
}

.services-style-one .services-column .content-outer .img-circle {
    border: 3px solid #dd545a;
}

.services-style-one .services-column .text {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 19px;
    color: #ebebeb;
    text-align: center;
}

.services-style-one .content-column {
    position: relative;
    float: left;
    width: 50%;
    background: #ebebeb;
    text-align: center;
}

.services-style-one .content-column .content-box {
    position: relative;
    padding: 20px 50px 10px 50px;
    float: left;
}

.services-style-one .content-column .sec-title h2 {
    color: #000;
}

.services-style-one .content-column .sec-title h2>span {
    border-bottom: 5px solid #930006;
    padding-bottom: 5px;
}

.services-style-one .content-column .inner-box {
    position: relative;
    align-items: center;
}

.services-style-one .content-column .text {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 19px;
    color: #000000;
    text-align: center;
}

.btn {
    background-color: #930006;
    width: 120px;
    height: 35px;
    color: #fff!important;
}

.btn:hover {
    background-color: #BFBFBF;
    color: #930006;
}


/* Sekcja podzielona na 3 */

.content-section-a {
    background-color: #f8f8f8;
    position: relative;
    padding-bottom: 100px;
}

.content-section-a .text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 19px;
    color: #000000;
    text-align: center;
}

.section-heading h2>span {
    border-bottom: 5px solid #930006;
    padding-bottom: 3px;
}
.text{
	margin-bottom: 30px;
	color: #333;
	text-align: center;
}

/* Mapa */
#map{
    pointer-events: none;
}

#map {
 width:100%;
 height:400px;
}

/* Footer */

footer {
    padding: 20px;
    background-color: #f8f8f8;

}

footer li > a { color: #000;}
footer a:hover { color:red;}

/* Gallery */
#main_area { margin-top: 50px;}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


.texti{
	font-size: 19px;
	color: #333;
	text-align: left;

}


/* oferta */



#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 10 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(147, 0, 6, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
   padding: 0px 20px 0px 0px;
  }
}



.modal-content { background-color: #EBEBEB;}


.btn {
	 background-color: #930006;
	width: 120px;
	height: 35px;
	color: #fff!important;}


.btn:hover {background-color: #BFBFBF;
	color: #930006; }





